<%= @post_images.each do |post_image| %>

<%= link_to post_image_path(post_image.id) do %>
<%= attachment_image_tag post_image, :image %>
<% end %>

<p>ユーザー画像</p>

<%= link_to post_image_path(post_image.idr) do %>
<%= post_image.shop_name %>
<% end %>

<%= post_image.caption %>

<p>By <%= post_image.user.name %></p>

<% end %>