<h1>画像投稿フォーム</h1>

<%= form_with model: @post_image, local:true do |f| %>

<%= f.attachment_field :image %>

<p>店名：<%= f.text_field :shop_name %></p>

<p>紹介：<%= f.text_area :caption %></p>

<%= f.submit'投稿' %>

<% end %>